In [56]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler

C:\Users\HARI\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [ ]:
data = pd.read_json('1telco_customer_churn.json')

In [ ]:
data

# DATA CLEANING AND MANIPULATION

In [ ]:
data.head(
)

In [ ]:
data.dtypes

In [ ]:
data.info()

In [ ]:
# Changing Total Charges to numeric
data['Total Charges'] = pd.to_numeric(data['Total Charges'], errors='coerce')

In [ ]:
data['Senior Citizen']

In [ ]:
# Converting Senior citizen Yes/No to 0 and 1, No = 0, Yes =1
# data['Senior Citizen'] = data['Senior Citizen'].astype(int)
data['Senior Citizen'] = data['Senior Citizen'].map({'Yes':1,'No':0})

In [ ]:
data['Senior Citizen'].head(15)

In [ ]:
print(data['Senior Citizen'].unique())
print(data['Senior Citizen'].dtype)

In [ ]:
data.isnull().sum()

In [ ]:
# data['Churn Reason'].head(50)
data['Churn Reason']

In [ ]:
# Filling Blank values with NA 
data['Churn Reason'].fillna('Not Churned', inplace=True)

In [ ]:
# Checking Unique Values in Multiple Columns

In [ ]:
columns_to_check = ['Senior Citizen', 'Partner', 'Dependents', 'Phone Service', 'Paperless Billing']

# Loop through each column and print its unique values
for column_name in columns_to_check:
    print(f"'{column_name}' unique values: {data[column_name].unique()}")

In [ ]:
# Converting ['Senior Citizen', 'Partner', 'Dependents', 'Phone Service', 'Paperless Billing']
# Yes/No to 0 and 1, No = 0, Yes =1

In [ ]:
binary_cols = ['Partner', 'Dependents', 'Phone Service', 'Paperless Billing']
for col in binary_cols:
    data[col] = data[col].map({'Yes': 1, 'No': 0})

In [ ]:

columns_to_check = ['Senior Citizen', 'Partner', 'Dependents', 'Phone Service', 'Paperless Billing']

# Loop through each column and print its unique values
for column_name in columns_to_check:
    print(f"'{column_name}' unique values: {data[column_name].unique()}")

In [ ]:


data['Multiple Lines'] = data['Multiple Lines'].replace({'No phone service': 'No'})
data['Multiple Lines'] = data['Multiple Lines'].map({'Yes':1,'No':0})

In [ ]:
data['Multiple Lines'].unique()

#

In [58]:

# Normalize/Scale Numerical Features (for modeling)

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data[['Monthly Charges', 'Total Charges', 'Tenure Months']] = scaler.fit_transform(
    data[['Monthly Charges', 'Total Charges', 'Tenure Months']]
)

In [59]:
print(data.isnull().sum())
print(data.dtypes)

CustomerID            0
Count                 0
Country               0
State                 0
City                  0
Zip Code              0
Lat Long              0
Latitude              0
Longitude             0
Gender                0
Senior Citizen        0
Partner               0
Dependents            0
Tenure Months         0
Phone Service         0
Multiple Lines        0
Internet Service      0
Online Security       0
Online Backup         0
Device Protection     0
Tech Support          0
Streaming TV          0
Streaming Movies      0
Contract              0
Paperless Billing     0
Payment Method        0
Monthly Charges       0
Total Charges        11
Churn Label           0
Churn Value           0
Churn Score           0
CLTV                  0
Churn Reason          0
dtype: int64
CustomerID            object
Count                  int64
Country               object
State                 object
City                  object
Zip Code               int64
Lat Long              object
Latitude             float64
Longitude            float64
Gender                object
Senior Citizen         int64
Partner                int64
Dependents             int64
Tenure Months        float64
Phone Service          int64
Multiple Lines         int64
Internet Service      object
Online Security       object
Online Backup         object
Device Protection     object
Tech Support          object
Streaming TV          object
Streaming Movies      object
Contract              object
Paperless Billing      int64
Payment Method        object
Monthly Charges      float64
Total Charges        float64
Churn Label           object
Churn Value            int64
Churn Score            int64
CLTV                   int64
Churn Reason          object
dtype: object

In [60]:
cat_cols = ['Internet Service', 'Contract', 'Payment Method', 'Gender']
data = pd.get_dummies(data, columns=cat_cols, drop_first=True)

In [61]:
print(data.duplicated().sum())
data.drop_duplicates(inplace=True)

0

In [62]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data[['Monthly Charges', 'Total Charges', 'Tenure Months']] = scaler.fit_transform(
    data[['Monthly Charges', 'Total Charges', 'Tenure Months']]
)

In [63]:
print(data.isnull().sum())
print(data.dtypes)

CustomerID                                 0
Count                                      0
Country                                    0
State                                      0
City                                       0
Zip Code                                   0
Lat Long                                   0
Latitude                                   0
Longitude                                  0
Senior Citizen                             0
Partner                                    0
Dependents                                 0
Tenure Months                              0
Phone Service                              0
Multiple Lines                             0
Online Security                            0
Online Backup                              0
Device Protection                          0
Tech Support                               0
Streaming TV                               0
Streaming Movies                           0
Paperless Billing                          0
Monthly Charges                            0
Total Charges                             11
Churn Label                                0
Churn Value                                0
Churn Score                                0
CLTV                                       0
Churn Reason                               0
Internet Service_Fiber optic               0
Internet Service_No                        0
Contract_One year                          0
Contract_Two year                          0
Payment Method_Credit card (automatic)     0
Payment Method_Electronic check            0
Payment Method_Mailed check                0
Gender_Male                                0
dtype: int64
CustomerID                                 object
Count                                       int64
Country                                    object
State                                      object
City                                       object
Zip Code                                    int64
Lat Long                                   object
Latitude                                  float64
Longitude                                 float64
Senior Citizen                              int64
Partner                                     int64
Dependents                                  int64
Tenure Months                             float64
Phone Service                               int64
Multiple Lines                              int64
Online Security                            object
Online Backup                              object
Device Protection                          object
Tech Support                               object
Streaming TV                               object
Streaming Movies                           object
Paperless Billing                           int64
Monthly Charges                           float64
Total Charges                             float64
Churn Label                                object
Churn Value                                 int64
Churn Score                                 int64
CLTV                                        int64
Churn Reason                               object
Internet Service_Fiber optic                uint8
Internet Service_No                         uint8
Contract_One year                           uint8
Contract_Two year                           uint8
Payment Method_Credit card (automatic)      uint8
Payment Method_Electronic check             uint8
Payment Method_Mailed check                 uint8
Gender_Male                                 uint8
dtype: object

In [64]:
# Total Charges has 11 Null, Filling with Median
data['Total Charges'].fillna(data['Total Charges'].median(), inplace=True)

In [65]:
internet_cols = [
    'Online Security', 'Online Backup', 'Device Protection',
    'Tech Support', 'Streaming TV', 'Streaming Movies'
]

for col in internet_cols:
    data[col] = data[col].replace({'No internet service': 'No'})
    data[col] = data[col].map({'Yes': 1, 'No': 0})

In [66]:


data.drop(['CustomerID', 'Lat Long'], axis=1, inplace=True)

In [67]:
data

,Count,Country,State,City,Zip Code,Latitude,Longitude,Senior Citizen,Partner,Dependents,...,CLTV,Churn Reason,Internet Service_Fiber optic,Internet Service_No,Contract_One year,Contract_Two year,Payment Method_Credit card (automatic),Payment Method_Electronic check,Payment Method_Mailed check,Gender_Male
0,1,United States,California,Los Angeles,90003,33.964131,-118.272783,0,0,0,...,3239,Competitor made better offer,0,0,0,0,0,0,1,1
1,1,United States,California,Los Angeles,90005,34.059281,-118.307420,0,0,1,...,2701,Moved,1,0,0,0,0,1,0,0
2,1,United States,California,Los Angeles,90006,34.048013,-118.293953,0,0,1,...,5372,Moved,1,0,0,0,0,1,0,0
3,1,United States,California,Los Angeles,90010,34.062125,-118.315709,0,1,1,...,5003,Moved,1,0,0,0,0,1,0,0
4,1,United States,California,Los Angeles,90015,34.039224,-118.266293,0,0,1,...,5340,Competitor had better devices,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,United States,California,Landers,92285,34.341737,-116.539416,0,0,0,...,5306,Not Churned,0,1,0,1,0,0,0,0
7039,1,United States,California,Adelanto,92301,34.667815,-117.536183,0,1,1,...,2140,Not Churned,0,0,1,0,0,0,1,1
7040,1,United States,California,Amboy,92304,34.559882,-115.637164,0,1,1,...,5560,Not Churned,1,0,1,0,1,0,0,0
7041,1,United States,California,Angelus Oaks,92305,34.167800,-116.864330,0,1,1,...,2793,Not Churned,0,0,0,0,0,1,0,0
7042,1,United States,California,Apple Valley,92308,34.424926,-117.184503,0,0,0,...,5097,Not Churned,1,0,0,1,0,0,0,1

In [76]:
data.to_json('OUTPUT_CLEANED_telco_customer_churn.json', orient='records', indent=4)

print("Processed data saved to 'processed_telco_customer_churn.json'")

Processed data saved to 'processed_telco_customer_churn.json'